<!DOCTYPE html>
<html>
  <head>
    <title>Jon's MELD Score</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Jon's MELD Score</h1>
      <p>formula source: <a href="https://www.mdcalc.com/meld-score-model-end-stage-liver-disease-12-older#evidence">mdcalc</a> | raw data: <a href="https://docs.google.com/spreadsheets/d/1nA16yuLtUrdpZFpPzz-HUm-WlpPW2axHhidMOnC1TTQ">google sheet</a>
      <br>MELD(i) = 0.957 × ln(Cr) + 0.378 × ln(bilirubin) + 1.120 × ln(INR) + 0.643 then, round to the tenth decimal place and multiply by 10. 
      <br>If MELD(i) > 11, perform additional MELD calculation as follows: MELD = MELD(i) + 1.32 × (137 – Na) –  [ 0.033 × MELD(i) × (137 – Na) ]
      <br>Cr, bilirubin and INR values floored to 1; Na floored to 125 and ceilinged to 137.
</p>
      <div id="chart"></div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
  </body>
</html>